
body{
    margin: 0;/*en haut , à droit, en bas et à gauche*/
}
    .feuille{
        height: 15vh;/*vh=viewport height*/
        width: 4vw;/* vw=viewport width*/
        padding:5vh;
        background-color:green; 
        background-size: cover;/*étire l'image pour qu'elle rentre dans la balis*/
        border: 2px navy;
        margin: 3vh;
        float:left;/*sffet flottont,ca sort les éléments duflux naturelde la page les places les uns à côté des autre*/
        transition: margin 0.5s;/*augmente le margin en 0.5s grâce à:hover*/
        border-radius: 20px;

}
     .ronde{

        height: 15vh;/*vh=viewport height*/
        width: 4vw;/* vw=viewport width*/
        padding:5vh;
        background-color: darkseagreen; 
    
        background-size: cover;/*étire l'image pour qu'elle rentre dans la balis*/
        border: 2px double navy);
        margin: 3vh;
        float:left;/*sffet flottont,ca sort les éléments duflux naturelde la page les places les uns à côté des autre*/
        transition: margin 0.5s;/*augmente le margin en 0.5s grâce à:hover*/
        border-radius: 30px;
}
.carry{

    height: 15vh;/*vh=viewport height*/
    width: 4vw;/* vw=viewport width*/
    padding:5vh;
    background-color: rgba(130, 186, 238, 0.993); 

    background-size: cover;/*étire l'image pour qu'elle rentre dans la balis*/
    border: 2px double navy;
    margin: 3vh;
    float:left;/*sffet flottont,ca sort les éléments duflux naturelde la page les places les uns à côté des autre*/
    transition: margin 0.5s;/*augmente le margin en 0.5s grâce à:hover*/
    border-radius: 30px;
}



     .carry1{

        height: 15vh;/*vh=viewport height*/
        width: 4vw;/* vw=viewport width*/
        padding:5vh;
        background-color: brown; 
    
        background-size: cover;/*étire l'image pour qu'elle rentre dans la balis*/
        border: 2px double navy;
        margin: 3vh;
        float:left;/*sffet flottont,ca sort les éléments duflux naturelde la page les places les uns à côté des autre*/
        transition: margin 0.5s;/*augmente le margin en 0.5s grâce à:hover*/
        border-radius: 30px;
}
.clear{ 
    clear:both;/* supprime l'effet des deux côtè*/}

 .boite:hover{/*pseudo-class qui applique un effet au survol de la souris*/
    margin-top:10vh;
 }

